{% extends "master.html" %}
{% load custom_filters %}

{% block title %}
    {{ myuser.username }}
{% endblock %}

{% block content %}
    <h1> {{ myuser.username }} </h1>
    <h2> {{ myuser.first_name }} {{ myuser.last_name }} </h2>
    <p>Following: {{ following_count }} Followers: {{ followers_count }}</p>

    <p>email: {{ myuser.email }}</p>
    <p>Joined since: {{ myuser.joined_date }}</p>

    {% if tweets %}
    <h1>--------------TWEETS-------------------</h1>
        {% for tweet in tweets %}

            <h2>{{ tweet.tweet }} - {{ tweet.tweet_created }}</h2>
            <p>Likes: <a href="{{ myuser.id }}/{{ tweet.id }}/likes">{{ tweet_likes|get_item:tweet.id }}</a> Comments: <a href="{{ myuser.id }}/{{ tweet.id }}/comments">{{ comment_counter|get_item:tweet.id}}</a></p>
        {% endfor %}
    {% endif%}

    <p>Back to <a href="/users">Users</a></p>
{% endblock%}