{% extends "master.html" %}

{% block title %}
    {{ myuser.username }}
{% endblock %}

{% block content %}
    <h1> {{ myuser.username }} </h1>
    <h2> {{ myuser.firstname }} {{ myuser.lastname }} </h2>

    <p>email: {{ myuser.email }}</p>
    <p>Joined since: {{ myuser.joined_date }}</p>
    
    {% if user_tweets %}
        <h1>-------------Tweets------------</h1>
        <div>
            {% for tweet in user_tweets %}
                <h2>{{ tweet.tweet }}</h2>
            {% endfor %}
        </div>
    {% endif %}

    <p>Back to <a href="/users">Users</a></p>
{% endblock%}