{% extends "master.html" %}
{% load custom_filters %}

{% block title %}
    {{ myuser.username }}
{% endblock %}

{% block content %}
    <p>Back to <a href="/">Home</a></p>

    <h1> {{ myuser.username }} </h1>
    <h2> {{ myuser.first_name }} {{ myuser.last_name }} </h2>
    <p>Following: {{ following_count }} Followers: {{ followers_count }}</p>

    {% if myuser.id != user.id %}
        {% if myuser.id in following_ids %}

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="unfollow">
                <input type="hidden" name="user_id" value="{{ myuser.id }}">
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="submit" id="unfollow-button" value="Unfollow">
            </form>


        {% else %}

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="follow">
                <input type="hidden" name="user_id" value="{{ myuser.id  }}">
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="submit" id="follow-button" value="Follow">
            </form>                                
            
        {% endif %}
    {% endif %}

    <p>email: {{ myuser.email }}</p>
    <p>Joined since: {{ myuser.joined_date }}</p>

    {% if tweets %}
    <h1>--------------TWEETS-------------------</h1>
        {% for tweet in tweets %}
            {% if myuser.id == user.id %}
                <form method="POST" onsubmit="return confirm('Are you sure you want to delete this tweet?');">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete_tweet">
                    <input type="hidden" name="tweet_id" value="{{ tweet.id }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="submit" id="delete-button" value="Delete">
                </form>
            {% endif %}

            <h2>{{ tweet.tweet }} - {{ tweet.tweet_created }}</h2>
            <p>Likes: <a href="{{ myuser.username }}/{{ tweet.id }}/likes">{{ tweet_likes|get_item:tweet.id }}</a> Comments: <a href="{{ myuser.id }}/{{ tweet.id }}/comments">{{ comment_counter|get_item:tweet.id}}</a></p>
        {% endfor %}
    {% endif%}


{% endblock%}