{% extends "master.html" %}
{% load custom_filters %}

{% block title %}
    Twitter
{% endblock %}

{% block style %}
    <style>
        ul {
            display: flex;
            list-style-type: none;
            text-align: center;
            width: fit-content;
        }

        li {
            float: left;         
        }

        div {
            margin: auto;
            width: fit-content;
            padding: 10px;
        }

        .tweet-container {
            border: 2px solid black;
            width: 800px;
        }

        .nav-bar-ul {
            margin: auto;
        }

        .nav-bar {
            margin-inline: 5px;
        }

        .option-ul {
            margin-right: auto;
        }

        .option {
            margin-inline: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <ul class="nav-bar-ul">
        <li class="nav-bar"><a href="/home">HOME</a></li>

        {% if user.is_authenticated %}
            <li class="nav-bar"><a href="/user_logout">LOG OUT</a></li>
        {% else %}
            <li class="nav-bar"><a href="/register">REGISTER</a></li>
            <li><a href="/login">LOG IN</a></li>
        {% endif %}
        <li class="nav-bar"><a href="/{{ user.username }}">Profile</a></li>
    </ul>

    <div>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="create_tweet">
            <input type="text" id="tweet" name="tweet" placeholder="What is happening?!" required><br>
            <input type="submit" id="submit-button" value="Tweet">
        </form>
        
    </div>

    
    {% if tweets %}
        <div>
            {% for tweet in tweets %}
                <div class="tweet-container">

                    {% if tweet.user_id == user.id %}    

                        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                        <ul class="option-ul">
                            <li class="option">
                                <form method="POST" onsubmit="return confirm('Are you sure you want to delete this tweet?');">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="delete_tweet">
                                    <input type="hidden" name="tweet_id" value="{{ tweet.id }}">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" id="delete-button" value="Delete">
                                </form>
                            </li>

                            <li class="option">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="edit_tweet">
                                    <input type="hidden" name="tweet_id" value="{{ tweet.id }}">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" id="edit-button" value="Edit">
                                </form>
                            </li>
                        </ul>
                        
                    {% else %}
                        {% for user in users %}
                            {% if tweet.user_id == user.id %}
                                <h2>{{ user.first_name }} {{ user.last_name }}</h2>

                                {% if user.id in following_ids %}

                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="unfollow">
                                        <input type="hidden" name="user_id" value="{{ tweet.user_id }}">
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="submit" id="unfollow-button" value="Unfollow">
                                    </form>


                                {% else %}

                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="follow">
                                        <input type="hidden" name="user_id" value="{{ tweet.user_id }}">
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="submit" id="follow-button" value="Follow">
                                    </form>                                
                                    
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    {% endif %}

                    
                    

                    <h2>{{ tweet.tweet }}</h2>
                    <ul class="option-ul">
                        {% if tweet.id not in liked_tweet_ids %}
                            <li class="option">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="like">
                                    <input type="hidden" name="tweet_id" value="{{ tweet.id }}">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" id="like-button" value="Like">
                                </form>
                            </li>
                        {% else %}
                            <li class="option">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="unlike">
                                    <input type="hidden" name="tweet_id" value="{{ tweet.id }}">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" id="unlike-button" value="Unlike">
                                </form>
                            </li>
                        {% endif %}
                        <li class="option"><a href="/{{ tweet.id }}/likes">{{ tweet_likes|get_item:tweet.id }}</a></li>
                        <li class="option">Comments</li>
                        <li class="option"><a href="/{{ tweet.id }}/comments">{{ comment_counter|get_item:tweet.id}}</a></li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endif%}

{% endblock %}
